@page "/AccessDenied"
<div>
    <div>
        <div>
            <div>
                <span class="text-danger fw-bolder">You dont have access to this page</span>
            </div>
        </div>
    </div>
</div>

