@page "/AddCategory"
@rendermode InteractiveAuto
@using CarRentalsBlazorEcho.Models
@using CarRentalsBlazorEcho.Data
@inject ICarCategory _carCategoryRepository;
@inject NavigationManager Navigation;

<h3>Car Categories</h3>
<h3>Add:</h3>

<form method="post" @onsubmit="Submit" @formname="AddCarCategory">
    <div>
        <label>
            Category name:
            <InputText @bind-Value="Category!.CategoryName" />
        </label>
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>
@if (this.ErrorMessage != string.Empty)
{
    <div class="alert alert-danger">
        <strong>Error!</strong> @this.ErrorMessage
    </div>
    this.ErrorMessage = string.Empty;
}

@code {
    [SupplyParameterFromForm]
    public CarCategory? Category { get; set; }
    protected override void OnInitialized() => Category ??= new();
    public string ErrorMessage { get; set; } = string.Empty;

    private async Task Submit()
    {
        if (Category == null || Category.CategoryName == string.Empty)
        {
            this.ErrorMessage = "Add car category failed.";
        }
        else
        {
            await _carCategoryRepository.AddAsync(Category);
            Navigation.NavigateTo("Categories");
        }
    }
}
