@page "/"
@using System.Threading
@using CarRentalsBlazorEcho.Models
@using CarRentalsBlazorEcho.Components.Pages


<PageTitle>Home</PageTitle>

<h1>Hello, And welcome to Car Rentals</h1>


@code {
    
}

<ShowAllUsers> </ShowAllUsers>
