@page "/MakeOrder/{carId:int}"
@using CarRentalsBlazorEcho.Data
@using CarRentalsBlazorEcho.Models
@inject IUser UserRepository
@inject IOrder OrderRepository
@inject ICar CarRepository
@inject ICarPicture CarPictureRepository
@inject NavigationManager NavigationManager
@rendermode InteractiveAuto

<h3>Make Reservation</h3>



@if (newOrder != null && users != null)
{
    <p>@car.Brand @car.Model</p>
    <p>
        <img src=@carPictures.FirstOrDefault(p=>p.CarId==car.CarId).PictureUrl height="200px" />
    </p>

    <form @onsubmit="CreateOrder">
        <div class="form-group">
            <label for="startDate">Start Date:</label>
            <input type="date" id="startDate" @bind="newOrder.StartDate" class="form-control" />
        </div>
        <div class="form-group">
            <label for="endDate">End Date:</label>
            <input type="date" id="endDate" @bind="newOrder.EndDate" class="form-control" />
        </div>
        <div style="margin-top: 20px;">
            <button type="submit" class="btn btn-success" style="float: left; margin-right: 10px;">Order</button>
        </div>
    </form>
    <div style="margin-top: 20px;">
        <button class="btn btn-primary" @onclick="Return">Return</button>
    </div>
}
else
{
    <p>Loading...</p>
}

@code {
    private IEnumerable<User>? users;
    private IEnumerable<CarPicture> carPictures { get; set; } = new List<CarPicture>();

    private Car car;

    [Parameter]
    public int carId { get; set; }
    public int userId { get; set; }

    private Order newOrder = new Order();


    protected override async Task OnInitializedAsync()
    {
        if (!CurrentUser.IsLoggedIn)
        {
            NavigationManager.NavigateTo("/Loggin");
        }

        users = await UserRepository.GetAllAsync();
        car = await CarRepository.GetByIdAsync(carId);
        carPictures = await CarPictureRepository.GetAllAsync();

        newOrder.StartDate = DateTime.Now.Date;
        newOrder.EndDate = DateTime.Now.Date.AddDays(1);
    }

    private async Task CreateOrder()
    {
        newOrder.CarId = carId;
        newOrder.UserId = GetUserId(CurrentUser.Email);

        await OrderRepository.AddAsync(newOrder);
        NavigationManager.NavigateTo("/Orders");        
    }

    private void Return()
    {
        NavigationManager.NavigateTo("/Cars");
    }

    private int GetUserId(string email)
    {
        if(users != null)
        {
            User? user = users.FirstOrDefault(u => u.Email == email);

            if(user != null)
            {
                return user.UserId;
            }
            else
            {
                return -1;
            }
        }
        else
        {
            return -1;
        }
    }
}
