@page "/MakeOrder/{carId:int}"
@using CarRentalsBlazorEcho.Data
@using CarRentalsBlazorEcho.Models
@inject IOrder OrderRepository
@inject ICar CarRepository
@inject NavigationManager NavigationManager
@rendermode InteractiveAuto

<h3>Make Order</h3>

<form @onsubmit="CreateOrder">
    <div class="form-group">
        <label for="customerId">Customer Id:</label>
        <input type="text" id="customerId" @bind="newOrder.UserId" class="form-control" />
    </div>
    <div class="form-group">
        <label for="startDate">Start Date:</label>
        <input type="date" id="startDate" @bind="newOrder.StartDate" class="form-control" />
    </div>
    <div class="form-group">
        <label for="endDate">End Date:</label>
        <input type="date" id="endDate" @bind="newOrder.EndDate" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>

@code {
    [Parameter]
    public int carId { get; set; }

    private Order newOrder = new Order();


    private async Task CreateOrder()
    {
        newOrder.CarId = carId;
        await OrderRepository.AddAsync(newOrder);
        NavigationManager.NavigateTo("/Orders");
    }
}
