@page "/CarsTobias/CarsTobias"
@using CarRentalsBlazorEcho.Data
@using CarRentalsBlazorEcho.Models
@inject ICar CarRepository

<h1>Cars</h1>

<table class="table long">
    <thead>
        <tr>
            <th>
                Car Id
            </th>
            <th>
                Price/Day
            </th>
            <th>
                Model
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in cars)
        {
            <tr>
                <td>
                    @item.CarId
                </td>
                <td>
                    @item.Price
                </td>
                <td>
                    @item.Model
                </td>
                <td>
                    <a href="Cars/MakeOrder/@item.CarId">Make Order</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    private IEnumerable<Car> cars { get; set; } = new List<Car>();

    protected override async Task OnInitializedAsync()
    {
        cars = await CarRepository.GetAllAsync();
    }
}