@*Detta är ett test*@


@using CarRentalsBlazorEcho.Models
@using CarRentalsBlazorEcho.Data
@inject ICustomer userRep;
<h5>ShowAllUsers</h5>

@if(users is not null && users.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in users)
            {
                <tr>
                    <td>@user.Id</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No Users found</p>
}

@code {
    List<Customer> users;

    protected override async Task OnInitializedAsync()
    {
        users = (await userRep.GetAllAsync()).ToList();
    }
}
