@page "/logout"
@using Microsoft.AspNetCore.Authentication
@inject NavigationManager navigationManager

<div>
    <div>
        <div>
            <div>
                <span class="text-danger fw-bolder">You have successfully logged out</span>
            </div>
        </div>
    </div>
</div>
@code {
    [CascadingParameter]
    public HttpContext HttpContext { get; set; }

    protected override async void OnInitialized()
    {
        if (HttpContext.User.Identity.IsAuthenticated)
        {
            await HttpContext.SignOutAsync();
            navigationManager.NavigateTo("/logout", true);
        }
    }
}
