@page "/"

<PageTitle>Home</PageTitle>
<div class="h-100 d-flex flex-column flex-column justify-content-center align-items-center">
	<h1>Hello, world!</h1>

	Welcome to your new app.

	<ShowAllUsers></ShowAllUsers>
</div>



